.Btn_new{
  width: 124px;
  height: 48px;
  background: #FB8801;
  font-size: 12px;
  text-align: center;
}
.div{
  width: 623px;
  height: 392px;
  background: #C4C4C4;
}
.Api_Token{  
background: #C4C4C4;
mix-blend-mode: normal;
}
.Table_cenr{
  
  margin-left: auto;
    margin-right: auto;
}
.T_name{

  font-family: Roboto;
font-style: normal;
font-weight: 1000;
line-height: normal;
font-size: 24px;
color: #000000;
}
.T_ame{
  fontFamily: Roboto;
  fontStyle: normal;
  fontWeight: 750;
  lineHeight: normal;
  fontSize: 24px;
  color: #ffffff;
}